.containerPage {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  flex-direction: column;
  background-color: whitesmoke;
  box-shadow: 1px 0px 5px #00000052;
  min-height: 60vh;
  border-radius: 2px;
  text-align: justify;
  padding: 2%;

}

h2 {
  margin: 0px;
  font-size: 2rem;
  font-weight: normal;
}