form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem 1rem;
}

form input {
    width: 100%;
    height: 1.5rem;
    font-size: 1rem;
    padding-left: 5px;
}
.boxBusca{
    display: flex;
    align-items: center;
    gap: 20px;
}
.campoBusca {
    display: flex;
    width: 100%;
    max-width: 400px;
    height: 2rem;
    font-size: 1rem;
    padding-left: 5px;

}

form select {
    width: 100%;
    height: 1.9rem;
    font-size: 1rem;
    padding-left: 5px;
}

form select option {
    background-color: #2a2828;
    color: #9c9c9c;
    border-radius: 2px;

}

form input::placeholder {
    font-size: 1rem;
}


/*========== Botões principal ==========*/

.bto_cadastrar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007bff;
    color: white;
    height: 1.9rem;
    border: none;
    border-radius: 2px;

    margin: 0;
    max-width: 300px;
}

.bto_salvar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5cb85c;
    color: white;
    height: 1.9rem;
    border: none;
    border-radius: 2px;

    margin: 0;
    max-width: 300px;
}

.bto_adicionar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff581c;
    color: white;
    height: 1.9rem;
    border: none;
    border-radius: 2px;

    margin: 0;
    max-width: 300px;
}
.bto_adicionar:hover,
.bto_cadastrar:hover,
.bto_salvar:hover{
    box-shadow: 1px 0px 10px #00000052;
    cursor: pointer;
}